# Plotly

### Handy hints

* In general, we are using plotting libraries that return objects encapsulating the plot. You can check the type of these returned objects with `type()`. Jupyter's tools for exploring objects and methods will also be useful: the `?` and `??` operators, and tab autocompletion.

* If you are using an older version of Jupyter you are running, you may need to launch this notebook with a higher data rate limit: `jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000` (alternatively, upgrade your Jupyter version).

## Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
# We may want to use some colours etc from other libraries
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Use the plotly.offline module to use plotly without a cloud account
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
from plotly import tools
import plotly

In [4]:
# init_notebook_mode() will inject the Plotly javascript into our notebook
# so we can display plots inline using iplot()
init_notebook_mode()

In [ ]:
# uncomment these lines to import and initialise altair
#import altair as alt
#alt.renderers.enable('notebook')

## Data

In [4]:
sales = pd.read_csv("housing-data-10000.csv", 
                    parse_dates=['date'], 
                    dtype={'zipcode': 'category',
                           'waterfront': 'bool'})

In [5]:
# take a random sample of rows from sales, to make our dataset a bit smaller
sales = sales.sample(4000)

In [6]:
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
5229,2387000110,2014-11-10,898000.0,2,1.75,1490,9874,1.0,False,0,4,7,1490,0,1963,0,98004,47.6246,-122.199
2826,8562750060,2015-04-20,825000.0,5,3.50,4140,6770,2.0,False,0,3,9,3030,1110,2004,0,98027,47.5381,-122.069
1678,4364700885,2014-09-12,324950.0,3,1.50,1210,7560,1.0,False,0,3,7,1210,0,1941,0,98126,47.5255,-122.374
16,8091411120,2014-07-17,220000.0,3,2.25,1400,7205,1.0,False,0,3,7,1140,260,1985,0,98030,47.3490,-122.166
5955,8732190990,2014-07-09,229000.0,4,2.25,2010,7688,1.0,False,0,3,8,1170,840,1979,0,98023,47.3086,-122.396

This is data from the USA's [National Electronic Injury Surveillance System](https://www.cpsc.gov/vi-VN/Research--Statistics/NEISS-Injury-Data), for patients aged 5-80 from incidents in December 2016.

In [9]:
injuries = pd.read_csv('neiss-tidied.csv', parse_dates=['trmt_date'])
print(injuries.shape)

(4000, 11)

In [12]:
# the data covers one month. Extract day of month for convenience
injuries['day'] = (injuries['trmt_date'] - injuries['trmt_date'].min()).dt.days + 1
# add a 'count' field that is just 1 for each incident; convenient for summing incident count in various plots
injuries['count'] = 1

In [13]:
injuries.head()

,case_id,trmt_date,age,sex,body_part,product,diagnosis,location,hospital_stratum,disposition,narr,day,count
0,161205654,2016-12-01,20.0,Female,"Trunk, upper",Basketball,"Contusions, Abrasions",Not recorded,Medium Hospitals,Treated and released or examined and released ...,20YOF PLAYING BASKETBALL AND HIT IN THE CHEST ...,1,1
1,161205688,2016-12-02,29.0,Female,Ankle,Stairs or steps,Strain or Sprain,Not recorded,Medium Hospitals,Treated and released or examined and released ...,NaN,2,1
2,161205692,2016-12-02,80.0,Male,"Trunk, upper",Floors or flooring materials,"Contusions, Abrasions",Home,Medium Hospitals,Treated and admitted for hospitalization (with...,80YOM HAD A SYNCOPEL EVENT AND FELL TO THE BAT...,2,1
3,161205716,2016-12-02,43.0,Female,Face,Stairs or steps,Fracture,Home,Medium Hospitals,Treated and released or examined and released ...,43YOF SLIPPED GOING DOWN HER STAIRS FELL FACE ...,2,1
4,161205721,2016-12-02,34.0,Male,"Trunk, lower",Stairs or steps,"Contusions, Abrasions",Home,Medium Hospitals,Treated and released or examined and released ...,34YOM FELL DOWN A FLIGHT OF STAIRS AND LANDED ...,2,1

## Plotly

Plotly is a javascript library with APIs in several languages: Python, R and Matlab. It has a wide range of built-in plot types and works well with the Jupyter Notebook. Plots made using the Python API (or any API) are rendered with Javascript, and are all interactive.

Some useful references:

- Plotly Python reference home https://plot.ly/python/
- Plotly Python introductory user guide https://plot.ly/python/user-guide/
- Plotly online Graph Maker https://plot.ly/create/ 

Plotly was originally designed to work with hosted plots in the cloud, and that is still possible, but it is now also possible to work entirely offline without an account by using the `plotly.offline` module.

Here's a simple example of a Plotly plot. Try mouseover on the data to see the hover info, and try out the zoom/pan/select tools in the upper right. Also try clicking on the legend, which is interactive.

In [22]:
x = [1,2,3,4,5]
y = [2,5,10,17,26]
y2 = [1,4,9,11,9]

trace0 = go.Scatter(x=x, y=y, mode='lines', 
                    line=dict(color='blue'),
                    name='Projected')

trace1 = go.Scatter(x=x, y=y2, mode='markers', 
                    marker=dict(color='red', size=10),
                    name='Actual')

data = [trace0, trace1]

iplot([trace0, trace1])